.container {
	background-color: lavender;
}

img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.button1 {
  background-color: black;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
 
}

.button2 {
  background-color: black;
  color: white;  
  text-align: center; 
  display: inline-block;
  font-size: 16px;
 
}

.button3 {
  background-color: black;
  color: white;  
  text-align: center;
  display: inline-block;
  font-size: 16px;
 
}