.container {
	background-color: lightsteelblue;
	display:inline flex;
	width: 700px;
	border-top: 10px solid black;
	border-left: 10px solid black;
	border-right: 10px solid black;
	align-items: center;
	justify-content: space-around;
}

.container1 {
	background-color: lightsteelblue;
	display:inline flex;
	width:700px;
	border-bottom: 10px solid black;
	border-left: 10px solid black;
	border-right: 10px solid black;
	justify-content: space-around;

}

img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	padding-top: 110px;
	padding-bottom: 35px;

}

.button1 {
  
  color: white;
  text-align: center;
  font-size: 16px;
   
}
#food-button {
	width: 125px;
	height: 40px;
	font-size: 20px;
}

#play-button {
	width: 125px;
	height: 40px;
	font-size: 20px;
}

#sleep-button {
	width: 125px;
	height: 40px;
	font-size: 20px;
}

.button2 {
  
  color: white;  
  text-align: center; 
 
  font-size: 16px;
  
}

.button3 {
  
  color: white;  
  text-align: center;
  
  font-size: 16px;
  
 
}

.buttonContainer {
	background-color: white;
	display: inline-flex;

}

h1 {
 font-size: 20px;
 color:white;
 align-items: center;
 
}
h2 {
 font-size: 20px;
 color:white;
 align-items: center;
 
}
h3 {
 font-size: 20px;
 color: white;
 align-items: center;
 
}
h4 {
 font-size: 20px;
 color:white;
 align-items: center;
}



#myBar4 {
	font-size: 25px;
	align-items: center;
	
}

#myBar1 {
	font-size: 25px;
	align-items: center;
	
}
#myBar2 {
	font-size: 25px;
	align-items: center;
	
}
#myBar3 {
	font-size: 25px;
	align-items: center;
	
}









